*::selection {
  background-color: var(--accent-blue);
  color: var(--main-bg);
}

html,
button {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 100%;
}

@supports (font-variation-settings: normal) {
  html,
  button {
    font-family: "Inter var", Inter, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-feature-settings: "cv08" 1;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  color: var(--main-fg);
  background-color: var(--main-bg);
  & > div > div {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
}

header,
main,
footer {
  padding-top: var(--secondary-padding);
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);
  & > * {
    max-width: calc(1000px - 2 * var(--side-padding));
  }
}

header {
  align-items: start;
  background-color: var(--additional-bg);
  &.head--error nav a {
    color: var(--additional-fg);
    background-color: var(--additional-fg);
    &:hover {
      color: var(--accent-red);
      background-color: var(--accent-red);
    }
    &:visited {
      color: var(--additional-fg);
      background-color: var(--additional-fg);
      &:hover {
        color: var(--accent-red);
        background-color: var(--accent-red);
      }
    }
  }
  nav {
    margin-bottom: var(--fourth-padding);
    a {
      margin-bottom: var(--fifth-padding);
      &:hover {
        color: var(--main-bg);
        background-color: var(--main-fg);
      }
    }
  }
}

main,
footer {
  padding-bottom: var(--primary-padding);
}

main {
  &.main--error section.main__arts article {
    background-color: var(--main-fg);
    &:hover {
      background-color: var(--accent-red);
      &:nth-of-type(2) a h2 {
        color: var(--main-fg);
      }
      a {
        color: var(--accent-red);
      }
    }
    &:nth-of-type(1),
    &:nth-of-type(2) {
      background-color: var(--accent-red);
    }
    a {
      color: var(--main-fg);
    }
  }
  section {
    &.main__content:last-of-type {
      ol,
      ul {
        margin-bottom: 0;
      }
    }
  }
  hr {
    margin-bottom: var(--secondary-padding);
  }
}

footer {
  color: var(--additional-fg);
  background-color: var(--additional-bg);
  &.foot--error section {
    nav.foot__cont a {
      color: var(--additional-fg);
      background-color: var(--additional-fg);
      &:hover {
        color: var(--accent-red);
        background-color: var(--accent-red);
      }
    }
  }
  section {
    h2 {
      margin-bottom: var(--fourth-padding);
    }
    nav {
      vertical-align: top;
      &.foot__cont {
        display: inline-block;
        &--site-links {
          float: right;
          a:last-of-type {
            margin-right: 0;
          }
        }
        a {
          &:hover::after {
            content: "←";
          }
          &::after {
            content: "→";
          }
        }
      }
      a {
        display: inline-block;
        margin-top: var(--fifth-padding);
        margin-right: var(--fifth-padding);
      }
    }
  }
}

h1,
h2 {
  line-height: 1.25em;
  letter-spacing: -0.022em;
}

h1 {
  display: block;
  margin: 0;
  font-size: 2.25em;
  font-weight: 700;
  span {
    font-weight: 900;
  }
}

h2 {
  margin-top: 0;
  margin-bottom: var(--third-padding);
  font-size: 1.5em;
  font-weight: 700;
  & + p {
    margin-top: var(--third-padding);
  }
  &.main__content__tag-header {
    margin-bottom: var(--fourth-padding);
  }
}

h3 {
  margin-bottom: 0;
}

h3,
p,
a,
ul,
ol,
blockquote,
table {
  font-size: 1rem;
  letter-spacing: -0.017em;
}

p,
a,
ul,
ol {
  font-weight: 500;
}

p,
ul,
ol,
blockquote,
table,
figcaption {
  line-height: 1.5em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  &:not(:first-child) {
    margin-top: var(--third-padding);
  }
  &.main__content__tag-container {
    margin-top: 0;
  }
}

p:first-of-type,
a.a--primary,
blockquote,
pre {
  border-radius: var(--fourth-padding);
}

p a {
  font-size: inherit;
}

a {
  flex: inherit;
  line-height: 1em;
  text-decoration: underline;
  color: var(--accent-blue);
  transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
  &:hover {
    color: var(--accent-red);
  }
  &:visited {
    color: var(--accent-indigo);
    &:hover {
      color: var(--accent-red);
    }
  }
  &.a--primary,
  &.a--secondary {
    display: inline-block;
    margin-right: var(--fifth-padding);
    padding: var(--fourth-padding);
    border-radius: var(--fourth-padding);
    font-weight: 600;
    text-decoration: none;
  }
  &.a--primary {
    color: var(--main-bg);
    background-color: var(--accent-blue);
    &:hover {
      color: var(--main-bg);
      background-color: var(--accent-red);
    }
    &:visited {
      color: var(--main-bg);
      &:hover {
        color: var(--main-bg);
      }
    }
  }
  &.a--secondary {
    margin-top: var(--fifth-padding);
    background-color: var(--additional-bg);
    &:hover {
      color: var(--additional-fg);
      background-color: var(--accent-red-50);
    }
  }
}

ul,
ol {
  margin-top: 0;
  margin: 0;
  padding: 0;
  li {
    padding-left: 0;
  }
  hr {
    margin-top: var(--fourth-padding);
    margin-bottom: var(--fourth-padding);
    background-color: var(--additional-bg);
  }
}

ul > li {
  list-style: none;
}

ol > li {
  list-style-position: inside;
}

li {
  margin-bottom: var(--fourth-padding);
}

img {
  height: auto;
}

blockquote {
  margin-top: var(--third-padding);
  margin-right: 0;
  margin-left: var(--primary-padding);
  margin-bottom: 0;
}

table {
  width: 100%;
  margin-top: var(--third-padding);
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;
  th,
  td {
    vertical-align: top;
    text-align: left;
  }
  th {
    padding: 0 var(--third-padding) 0 0;
  }
  td {
    padding: 0 var(--third-padding) var(--fifth-padding) 0;
  }
}

hr {
  width: 100%;
  height: 4px;
  margin: var(--primary-padding) 0 0 0;
  border: 0;
  background-color: var(--main-fg);
}
