section.main__arts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--secondary-padding);
  article {
    position: relative;
    border-radius: var(--fourth-padding);
    background-color: var(--accent-blue-50);
    transition: all cubic-bezier(0.15, 0.54, 0.35, 0.99) 0.5s;
    &:hover {
      transform: translateY(-0.6rem);
      box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.2);
    }
    &#work {
      background-color: var(--accent-red-50);
    }
    &#thoughts {
      background-color: var(--accent-green-50);
    }
    &#advices {
      background-color: var(--accent-yellow-50);
    }
    &#learning {
      background-color: var(--accent-blue-50);
    }
    a {
      display: block;
      height: calc(100% - 2 * var(--third-padding));
      padding: var(--third-padding);
      border-radius: 0.5rem;
      text-decoration: none;
      color: #1c1c1e;
      &:hover {
        color: #1c1c1e;
      }
      p {
        width: auto;
        margin-top: var(--third-padding);
        &:nth-of-type(1) {
          font-style: italic;
          font-weight: 600;
        }
      }
    }
  }
  &__pages {
    align-self: end;
  }
}
