pre,
code {
  font-feature-settings: "case" 0, "frac" 0, "cv08" 0;
  white-space: pre;
}

code[class*="language-"] {
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  hyphens: none;
  color: #afa0fe;
  background: #2a2734;
}

pre[class*="language-"] {
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  hyphens: none;
  color: #afa0fe;
  background: #2a2734;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection {
  text-shadow: none;
  background: #6a51e6;
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata,
  &.punctuation {
    color: #6c6783;
  }
  &.namespace {
    opacity: 0.7;
  }
  &.tag,
  &.operator,
  &.number {
    color: #e09142;
  }
  &.property,
  &.function {
    color: #c4b9fe;
  }
  &.tag-id,
  &.selector,
  &.atrule-id {
    color: #eeebff;
  }
}

code.language-javascript,
.token.attr-name {
  color: #c4b9fe;
}

code {
  &.language-css,
  &.language-scss {
    color: #fc9;
  }
}

.token {
  &.boolean,
  &.string,
  &.entity,
  &.url {
    color: #fc9;
  }
}

.language-css .token.string,
.language-scss .token.string,
.style .token.string {
  color: #fc9;
}

.token {
  &.attr-value,
  &.keyword,
  &.control,
  &.directive,
  &.unit,
  &.statement,
  &.regex,
  &.atrule,
  &.placeholder,
  &.variable {
    color: #fc9;
  }
  &.deleted {
    text-decoration: line-through;
  }
  &.inserted {
    border-bottom: 1px dotted #eeebff;
    text-decoration: none;
  }
  &.italic {
    font-style: italic;
  }
  &.important,
  &.bold {
    font-weight: bold;
  }
  &.important {
    color: #c4b9fe;
  }
  &.entity {
    cursor: help;
  }
}

pre > code.highlight {
  outline: 0.4em solid #8a75f5;
  outline-offset: 0.4em;
}

.line-numbers .line-numbers-rows {
  border-right-color: #2c2937;
}

.line-numbers-rows > span:before {
  color: #3c3949;
}

.line-highlight {
  background: rgba(224, 145, 66, 0.2);
  background: gradient(
    linear,
    left top,
    right top,
    color-stop(70%, rgba(224, 145, 66, 0.2)),
    to(rgba(224, 145, 66, 0))
  );
  background: linear-gradient(
    to right,
    rgba(224, 145, 66, 0.2) 70%,
    rgba(224, 145, 66, 0)
  );
}
