footer.foot--post {
  section {
    grid-template-columns: auto auto auto;
    h2:nth-of-type(2) {
      margin-top: var(--secondary-padding);
    }
    nav {
      &.foot__share {
        display: block;
        a {
          border-radius: var(--fourth-padding);
          background-color: var(--main-bg);
          &.tw-share-button {
            color: #1da1f2;
            &:hover {
              background-color: rgba(29, 161, 242, 0.25);
            }
            svg {
              fill: #1da1f2;
            }
          }
          &.facebook-share-button {
            color: #1877f2;
            &:hover {
              background-color: rgba(17, 120, 242, 0.25);
            }
            svg {
              fill: #1877f2;
            }
          }
          &.vk-share-button {
            color: #4680c2;
            &:hover {
              background-color: rgba(70, 128, 194, 0.25);
            }
            svg {
              fill: #4680c2;
            }
          }
          &.telegram-share-button {
            color: #2ea6d9;
            &:hover {
              background-color: rgba(46, 166, 217, 0.25);
            }
            svg {
              fill: #2ea6d9;
            }
          }
          svg {
            vertical-align: top;
            width: 1rem;
            height: 1rem;
            margin-right: var(--fifth-padding);
          }
        }
      }
    }
  }
}

section {
  &.main__art-cont {
    max-width: 700px;
    h2,
    p {
      width: 100%;
    }
    h2 {
      margin-top: 3rem;
    }
    h3 {
      margin-top: 1rem;
      & + p {
        margin-top: 0;
      }
    }
    p,
    a,
    ul,
    ol,
    code,
    blockquote {
      font-weight: 400;
      line-height: 1.5em;
    }
    p,
    a,
    ul,
    ol {
      code {
        color: var(--main-dark);
      }
    }
    p code,
    a code,
    li code,
    span code {
      padding: 0.25rem;
      border-radius: var(--fifth-padding);
      color: var(--additional-fg);
      background-color: var(--additional-bg);
    }
    p {
      margin-top: var(--third-padding);
      &.main__art-cont__inf {
        width: unset;
        margin: 0;
        font-style: italic;
        font-weight: 600;
        a {
          margin-right: var(--fourth-padding);
          font-weight: 600;
          color: inherit;
          &:hover {
            color: var(--accent-blue);
          }
        }
      }
    }
    a {
      font-size: inherit;
      color: var(--accent-blue);
      &:hover {
        color: var(--accent-red);
      }
      &:visited {
        color: var(--accent-indigo);
        &:hover {
          color: var(--accent-red);
        }
      }
    }
    img,
    video {
      width: 100%;
      border-radius: 0.4rem;
      background-color: var(--additional-bg);
    }
    ul,
    ol {
      li {
        padding-left: var(--primary-padding);
      }
    }
    figcaption {
      margin-top: 0.3rem;
      font-size: 0.8em;
      &:last-child {
        margin-bottom: 0;
      }
    }
    span {
      &.gatsby-resp-image-background-image {
        display: block;
        border-radius: 0.4rem;
      }
    }
    blockquote {
      max-width: 100%;
      &.faktoid {
        position: absolute;
        left: 800px;
        float: right;
        max-width: 300px;
        margin-top: var(--third-padding);
        margin-right: var(--side-padding);
        margin-left: 0;
        a,
        img {
          display: block;
        }
        a {
          text-decoration: none;
        }
      }

      p:first-child {
        margin-top: 0;
      }
    }
    pre {
      overflow-x: scroll;
      margin-top: var(--third-padding);
      margin-bottom: 0;
      padding: var(--third-padding);
    }
    code {
      font-size: 1em;
      font-family: Inconsolata, monospace;
      span {
        font-weight: unset;
      }
    }
    hr + * {
      margin-top: 0;
      & > * {
        margin-top: 0;
      }
    }
    section.album::-webkit-scrollbar,
    code::-webkit-scrollbar,
    pre::-webkit-scrollbar {
      height: 0;
    }
    li p {
      margin-top: 0;
    }
  }
  &.album {
    display: flex;
    overflow-x: scroll;
    border-radius: var(--fourth-padding);
    scroll-snap-type: x mandatory;
    img {
      border-radius: 0;
      object-fit: contain;
      scroll-snap-align: center;
    }
  }
}

@media screen and (max-width: 938.4px) {
  // 700px + 200px + 38.4 (--side-padding)
  section.main__art-cont blockquote.faktoid {
    position: static;
    margin-right: 0;
    margin-left: var(--third-padding);
  }
}
