:root {
    --bg: #ffffff;
    --fg: #000000;
}

body {
    margin: 0;
    padding: 1rem;
}

html {
    background-color: var(--bg);
}

main {
    padding-top: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: end;
}

img, video {
    width: 100%;
    vertical-align: top;
}

p {
    display: block;
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}

a, a:hover, a:visited {
    color: var(--fg);
    text-decoration: none;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg: #000000;
        --fg: #ffffff;
    }
}

@media screen and (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
    }
}